body {
    background-color: aqua;
}

h1 {
    color: black;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 4rem;
    text-align: center;
    border-bottom: 2px solid gray;
    width: 80%;
    margin: auto;
}